// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


div.signup-container {
    div.header {
        a.addNew {
           
        }
    }
}
div.signup-container {
    div.body {
        margin-top: 15px !important;
    }
}

div.form-holder {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


    /* The sidebar menu */
    .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 15%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;


        /* The navigation menu links */
        a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 16px !important;
            color: #818181;
            display: block;
        }
    
        /* When you mouse over the navigation links, change their color */
        a:hover {
            color: #f1f1f1;
        }
    }
    /* Style page content */
    div#main-content-container {
        height: 100%;
        width: 100%;
        padding-left: 15%;
        // padding: 0px 10px;
        table {
            -ms-word-break: break-all;
            word-break: break-all;

            /* Non standard for WebKit */
            word-break: break-word;

            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
            overflow-wrap: break-word;
            // word-break: break-all ;
            // table-layout: fixed;
            width: 100%;
        }
    }
